extends layout

block content
  h1 Contacts Page
  div
    ul(class='ContactsList')
      -for item in data
        -if(item.First != '' && item.Last != '')
          li #{item.Preferance} #{item.First}, #{item.Last}
          li #{item.Street}, #{item.City}
          li #{item.State}, #{item.Zip}
          li #{item.Phone}, #{item.Email}
          br
