extends layout

title Contacts Page

block content
  link(rel='stylesheet', href='/stylesheets/contactsStyle.css')
  script(type="text/javascript" src='/javascripts/mapScript.js').  
  
  div(class='content' id='list')
    ul(class='ContactsList')
      button.btn.btn-primary.btn-lg(id='modalBttn', type='button', data-toggle='modal', data-target='#myModal') Add Contact
      -for item in data
        -if(item.First != '' && item.Last != '' && item.Coordinates != undefined)
          
          div(class='contactBubble' id='#{item._id}' onclick='centerMap(' + item.Coordinates[0].lat + ',' + item.Coordinates[1].lon +')')
            li
              a.edit
                span.glyphicon.glyphicon-pencil
              a.save(hidden)
                span.glyphicon.glyphicon-ok
              a.delete(hidden)
                span.glyphicon.glyphicon-remove
            li 
              p#pref #{item.Preferance} 
              p #{item.First}
              span 
              p #{item.Last}
            li 
              p #{item.Street}
              span , 
              p #{item.City}
            li 
              p #{item.State}
              span , 
              p #{item.Zip}
            li 
              p #{item.Phone}
              span , 
              p #{item.Email}

  div(class='modal fade', id="myModal", tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-body
          .formWrapper
            form(method='Post' action='mailer')
              button(type="button", class="close", data-dismiss="modal") x
              h3 Add Contact
              h4 Name:
              div(class='radiobuttons') 
                input(type='radio' name='Preferance' value='Mr.' required)
                label Mr.
                input(type='radio' name='Preferance' value='Mrs.' required)
                label Mrs. 
                input(type='radio' name='Preferance' value='Ms.' required)
                label Ms. 
                input(type='radio' name='Preferance' value='Dr.' required)
                label Dr.
              input(name='First' placeholder='First' required)
              input(name='Last' placeholder='Last' required)
              br

              br
              h4 Address:
              input(name='Street' placeholder='Street' required)
              input(name='City' placeholder='City' required)
              br
              input(name='State' placeholder='State' required)
              input(name='Zip' placeholder='Zip' required)
              br
              
              br
              h4 Contact:
              input(name='Phone' placeholder='Phone')
              input(name='Email' type="email" placeholder='Email')
              br
              
              .contactMethod
                br
                h4 Contact Method: 
                input(id='chk1' name='ContactMail' type='checkbox' value='Mail')
                h5 Mail
                input(id='chk2' name='ContactPhone' type='checkbox' value='Phone')
                h5 Phone
                input(id='chk3' name='ContactEmai' type='checkbox' value='Email')
                h5 Email
                
              input(name='modalForm' value='true' hidden)
              button(type="button" class="modalBttn btn btn-default" data-dismiss="modal") Close
              input(type='submit' class='btn btn-primary')
  
  div(class='content' id='map')  
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFJTfyGLWIUm3gZOGBc_j7kZf6FncAAYY&callback=initMap").
    
